/* Estilos para la tabla */
table {
    border-collapse: collapse;
    width: 75%;
    margin-bottom: 50px;
    margin: 0 auto;
}

th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #e7d4e8;
}


input[type="text"] {
    width: 90%;
    padding: 12px 20px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 2px solid #4d0d66;
    border-radius: 25px;
    text-align: center;
    font-family: Tempus Sans ITC;
}

input[type="submit"] {
    background-color: #a568b7;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    font-family: Jokerman;
}

body {
    font-family: Tempus Sans ITC;
}


select {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgb(109, 60, 124);
    border-radius: 5px;
}

option {
    background-color: #f7f3f6;
    color: rgb(15, 10, 10);
    padding: 5px;
}