/* Estilos para la tabla */
table {
    border-collapse: collapse;
    width: 75%;
    margin-bottom: 50px;
    margin: 0 auto;
}

th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #e7d4e8;
}


input[type="text"] {
    width: 50%;
    padding: 12px 20px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 2px solid #4d0d66;
    border-radius: 25px;
    text-align: center;
    font-family: Tempus Sans ITC;
}

input[type="submit"] {
    background-color: #a568b7;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    font-family: Jokerman;
}

body {
    font-family: Tempus Sans ITC;
}


input[type="date"] {
    width: 200px;
    padding: 10px;
    border: 2px solid rgb(153, 37, 163);
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(255, 231, 252);
  }
  
  input[type="date"]::placeholder {
    color: rgb(220, 177, 236);
  }
  
  /* Cambiar el estilo del botón de borrar */
input[type="date"]::-webkit-clear-button {
    background-color: #ccc;
    border: 1px solid #333;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 4px;
  }
  