/* Estilos para la tabla */
table {
    border-collapse: collapse;
    width: 75%;
    margin-bottom: 50px;
    margin: 0 auto;
}

th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #e7d4e8;
}


input[type="text"] {
    width: 50%;
    padding: 12px 20px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 2px solid #bf7687;
    border-radius: 25px;
    text-align: center;
    font-family: Tempus Sans ITC;
}

input[type="submit"] {
    background-color: #d75dc3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    font-family: Jokerman;
    
}

input[type="submit"]:focus {
    outline: none;
    border: 2px solid #a48793;
}
body {
    font-family: Tempus Sans ITC;
}